{% extends 'index.html' %}
{% load static %}
{% block styles %}
	<link rel="stylesheet" href="{% static 'style.css' %}">
{% endblock %}

{% block contents %}
        <div class="signin">
            <div class="content">
                <h2>Edit </h2>
                <form class="form" method="post">
                    {% csrf_token %}
                    <div class="inputBox">
                        {{form.text}}
                    </div>
                    <div class="inputBox">
                        <input type="submit" value="Save">
                    </div>
                </form>
            </div>
        </div>
{% endblock %}