{% extends 'index.html' %}
{% load static %}
{% block styles %}
	<link rel="stylesheet" href="{% static 'style.css' %}">
{% endblock %}

{% block contents %}
        <div class="signin">
            <div class="content">
                <h2>Log In</h2>
                <form class="form" method="post">
                    {% csrf_token %}
                    <div class="inputBox">
                        {{ form.username }} <i>Username</i>
                    </div>
                    <div class="inputBox">
                        {{ form.password }} <i>Password</i>
                    </div>
                    <div class="inputBox">
                        <input type="submit" value="Login">
                    </div>
                </form>
            </div>
        </div>
{% endblock %}